<script type="text/javascript" src="__WAPRES__/js/jquery.form.min.js"></script>
<script type="text/javascript" src="__WAPRES__/plugins/jNotify/jNotify.js"></script>
<link rel="stylesheet" type="text/css" href="__WAPRES__/plugins/jNotify/jNotify.css" />
<link href="__ASSETS__/custom/js/skin/layer.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src='__ASSETS__/custom/js/layer.js' ></script>
<script type="text/javascript">
$(function(){
	//ajax表单提交
	$('.ajaxForm').ajaxForm(function(response){
		if (typeof(response) == 'string') response = eval("("+response+")");
		if(response.result.code == '10000'){	//添加成功
			jSuccess(response.result.msg, {
				TimeShown : 400,
				onClosed:function(){
					window.location.href = response.link;
				}
			});
		}
		else{
			jError(response.result.msg,{TimeShown : 1000});
		}
	});
});

//ajax 请求 只支持get请求方法
function ajaxurl(url)
{
	$.ajax({
		url:url,
		data:'is_ajax=1',
		type:'get',
		dataType:'json',
		success:function(response)
		{
			//response = eval("("+response+")");
			if(response.result.code == '10000')
			{
				jSuccess(response.result.msg, {
					TimeShown : 800,
					onClosed:function(){
						window.location.href = response.link;
						//window.location.reload();
					}
				});
			}
			else
			{
				jError(response.result.msg);
			}
		},
		error:function()
		{
			alert('请求失败');
		}
	});
}

//确认对话框请求
function confirm_url(msg,url)
{
	layer.confirm(msg, {
	  	btn: ['取消','确定'], //按钮
	  	area: ['12rem', ''],
	}, function(index){
		layer.close(index);
	}, function(){
		ajaxurl(url);
	});
	// if (confirm(msg))
	// {
	// 	ajaxurl(url);
	// }
}


</script>