@charset "utf-8";
/*CSS reset*/
html{color:#000;background:#FFF;font-family:Microsoft YaHei,sans-serif,Arial,'宋体';}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td,strong{padding:0;margin:0;font-size:0.63rem;font-family:Microsoft YaHei,sans-serif,Arial;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
a{text-decoration:none; color:#000; outline:none;}/*此处待添加默认链接颜色*/
a:link{color:#000;}
var,em,strong{font-style:normal;}
address,caption,cite,code,dfn,em,strong,th,var, optgroup{font-style:inherit;font-weight:inherit;}
del,ins{text-decoration:none;}
li{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:0.75rem;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:baseline;}
sub{vertical-align:baseline;}
legend{color:#000;}
input,button,textarea,select,optgroup,option{border:0;outline:none;font-family:Microsoft YaHei; font-size:inherit;font-style:inherit;font-weight:inherit;}
input,button,textarea,select{*font-size:100%;}
.clearfix:after{display:block;clear:both;height:0px;overflow:hidden;content: "\200B";} 
.clearfix{*zoom:1;}
body{-webkit-user-select:none;-webkit-text-size-adjust:none;}
*{-webkit-tap-highlight-color:rgba(0,0,0,0);}
.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	border-top: 1px solid #e1e0e0;
	background: white;
}
.footer li{
	float: left;
	width: 25%;
}
.footer li a{
	display: block;
	padding-top: 0.38rem;

}
.footer li i {
	display: block;
	margin: 0 auto;
	width: 1rem;
	height: 1.1rem;
}
.footer li span {
	display: block;
	height: 1.1rem;
	color: #333;
	font-size: 0.57rem;
	text-align: center;
	line-height: 1.1rem;
}
.footer .active span {
	color: #0cc2f4;
}
.footer li:nth-child(1) i {
	background: url(../images/footer1.png);
	background-size: 100% 100%;
}
.footer li:nth-child(2) i {
	background: url(../images/footer2.png);
	background-size: 100% 100%;
}
.footer li:nth-child(3) i {
	background: url(../images/footer3.png);
	background-size: 100% 100%;
}
.footer li:nth-child(4) i {
	background: url(../images/footer4.png);
	background-size: 100% 100%;
}
.footer .active:nth-child(1) i {
	background: url(../images/footer_active1.png);
	background-size: 100% 100%;
}
.footer .active:nth-child(2) i {
	background: url(../images/footer_active2.png);
	background-size: 100% 100%;
}
.footer .active:nth-child(3) i {
	background: url(../images/footer_active3.png);
	background-size: 100% 100%;
}
.footer .active:nth-child(4) i {
	background: url(../images/footer_active4.png);
	background-size: 100% 100%;
}
.home-header {
	position: relative;
	height: 1.9rem;
	font-size: 0.71rem;
	color: #333;
	line-height: 1.9rem;
	margin-bottom: 0.24rem;
	background-color: #fff;
}
.home-header h1{
	text-align: center;
}
.home-header .back {
	position: absolute;
	top: 0;
	left: 0;
	width: 0.95rem;
	height: 1.9rem;
	background: url(../images/back.png);
	background-size: 100% 100%;
}
.home-header .add {
	position: absolute;
	top: 0;
	right: 0;
	width: 1.14rem;
	height: 1.9rem;
	background: url(../images/adds.png);
	background-size: 100% 100%;
}
.home-header .shoppings {
	position: absolute;
	top: 0.55rem;
	right: 2.07rem;
	width: 0.95rem;
	height: 0.95rem;
	background: url(../images/shopping_car.png);
	background-size: 100% 100%;
}
.home-header .shoppings span {
	position: absolute;
	right: -7px;
	top: -7px;
	width: 0.48rem;
	height: 0.48rem;
	color: white;
	background-color: #00bff3;
	text-align: center;
	line-height: 0.48rem;
	border-radius: 50%;
	font-size: 0.28rem;
}
.home-header .shares {
	position: absolute;
	top: 0.65rem;
	right: 0.48rem;
	width: 0.86rem;
	height: 0.86rem;
	background: url(../images/write.png);
	background-size: 100% 100%;
}